    <style>
        .navbar-default{
            height: auto;
        }
        body{
            background: #F5F5F5;
        }
    </style>

<div class="grid col-md-12" style="margin-top: 13%; background: #F5F5F5;">


    <h1 class="col-lg-12 text-center" style="margin-top: 20%; margin-bottom: 9%; font-size: 2em; color: #4A4A6B">Qui sommes nous ?</h1>

    <img class="col-lg-12" style="width: 100%; margin-bottom: 5%" src="{{ asset('img/equipe1.jpeg') }}" alt="" />

    <p class="col-lg-12" style="margin-bottom: 5%">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non nulla maximus, dictum lorem ac, pulvinar velit. Aliquam tellus ligula, tincidunt ut sem sed, fermentum rhoncus elit. Proin pretium libero non massa gravida, non ornare turpis mattis. Morbi non dui ut ligula laoreet bibendum. In iaculis elit sapien, in consequat purus suscipit consequat. Nulla in vehicula neque. Nullam maximus sollicitudin odio at laoreet. Mauris fermentum urna at enim tincidunt condimentum sed non enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur semper tincidunt velit blandit ullamcorper. Maecenas ac dolor non lacus mollis cursus. Vivamus mi odio, sagittis quis lorem eu, porttitor rutrum mauris. Proin mollis, nisi non fermentum facilisis, dolor diam commodo diam, ac vulputate dui metus in enim. Sed ac interdum erat. Nulla urna sem, tempor consectetur varius vel, vestibulum vel libero. Nulla id fringilla nibh, tempor lacinia diam.
    </p>

    <div class="col-lg-12" style="margin-bottom: 10%">
        <img class="col-lg-6" style="width: 48%; padding-left: 0" src="{{ asset('img/equipe1.jpeg') }}" alt="" />
        <img class="col-lg-6" style="width: 48%; padding-right: 0;float: right" src="{{ asset('img/equipe1.jpeg') }}" alt="" />

    </div>

</div>

