<footer class="col-lg-12" style="background: #474668">

    <div class="marginBlock" style="height: 1px"></div>


    <div class="col-lg-6">
        <h3 class="footer-title col-lg-12">NOUS CONTACTER</h3>

        <div class="col-lg-6">

            <!--
            <a href="https://vintage-motors.net/livraisons-et-retours-12" style=" display: inline-block; width: 48%; color: #000;">
                <div class="telephone-footer block-img" >
                    <span class="txt">Par téléphone <br>06 66 66 66 66</span>
                </div>
            </a>

            <a href="https://vintage-motors.net/livraisons-et-retours-12" style=" display: inline-block; width: 48%; color: #000; ">
                <div class="email-footer block-img">
                    <span class="txt">Par email <br>contact@swifcar.fr</span>
                </div>
            </a>

            <style>
                .block-img{
                    background-position: center top;
                    background-size: 80px;
                    padding-top: 90px;
                    text-align: center;
                }
                .telephone-footer{
                    background: url({{ asset('img/phone.svg') }})no-repeat center 15px;
                }
                .email-footer{
                    background: url({{ asset('img/email.svg') }})no-repeat center 15px;
                }
            </style>
            -->

            <div class="col-lg-6" style="width: 48%; display: inline-block">
                <img style="width: 70%; display: block; margin-left: 8%" class="col-lg-12" src="{{ asset('img/phone.svg') }}" alt="">
                <p class="txt col-lg-12 text-center">Par téléphone <br><span class="text-bold">06 66 66 66 66</span></p>
            </div>

            <div class="col-lg-6" style="width: 48%; display: inline-block">
                <img style="width: 70%; display: block; margin-left: 11%" class="col-lg-12" src="{{ asset('img/email.svg') }}" alt="">
                <p class="txt col-lg-12 text-center">Par email <br><span class="text-bold">contact@swifcar.fr</span></p>
            </div>


        </div>

    </div>

    <div class="col-lg-12">
        <h3 class="footer-title col-lg-12" >NAVIGUER SUR SWICAR</h3>

        <ul class="list-link col-lg-6">
            <li>Accueil</li>
            <li>Toutes les annonces</li>
            <li>Swicar en quelques points</li>
        </ul>

        <ul class="list-link col-lg-6">
            <li>Expert/Livreur</li>
            <li>Qui sommes nous?</li>
            <li>Mon compte</li>
        </ul>


    </div>

    <style>
        .footer-title{
            color: white;
            border-left: #81C9CD 3px solid;
            padding-left: 10px;
        }
        .list-link{
            width: 46%;
            display: inline-block;
            color: white;
        }
        .txt{
            color: white;
            padding: 0;
        }
        .text-bold{
            font-weight: bold;
        }
    </style>

</footer>