<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <style>
        .vmiddle{  height:100%;width: 0;  display: inline-block;  vertical-align: middle ;  }
        #menuBurger ul li {  list-style-type: none;  }
        #burger{margin:10px;  width: 30px;  height: 31px;  z-index: 101;  -webkit-transition: all 0.4s;  -moz-transition: all 0.4s;  transition: all 0.4s;  position: fixed;  cursor: pointer;  top:0;  left:0;  display: none;  }
        #burger span::before, #burger span::after { background: #0087b8;  -webkit-transition: all 0.4s;  -moz-transition: all 0.4s;  transition: all 0.4s;  content: '';  display: block;  width: 100%;  height: 4px;  position: absolute;  left: 0;  }
        .bgiWhite #burger span::before, .bgiWhite #burger span::after{ background-color: #0087b8; }
        #burger span::after{bottom: 0;}
        #burger span{  width: 20px;  height: 15px;  display: block;  position: absolute;  right: 5px;  top: 8px;  }
        #burger.menuOpen span::before, #burger.menuOpen span::after {  background-color: #474668 !important;  }
        #burger.menuOpen span::after { transform: rotate(-45deg); bottom: 5px;}
        #burger.menuOpen span::before { transform: rotate(45deg); top: 6px;  }
        #menuBurger.menuOpen{  display: block;}
        #menuBurger {position: fixed; height: 100%; width: 100%;  top:0;  left:0;z-index: 10;  background-color: #fff; display: none;}
        #menuBurger li{    position: relative;  line-height: 40px;  padding-left: 20%;font-weight: 500; transition: .3s;}
        #menuBurger ul{display: inline-block;  vertical-align: middle;  width:100%;}
        #menuBurger ul li a{color: #474668}
        
        @media screen and (max-width: 1080px) {
          #burger{
            display: inline-block;
          }
          nav.navbar.nonActive{
            background-color: transparent;
            border-color: transparent;
          }
          nav.navbar:not(.nonActive){
            background-color: white;
            border-color: #e7e7e7;
          }
          nav.navbar:not(.nonActive) #burger span::before, nav.navbar:not(.nonActive) #burger span::after{
            background: #474668;
          }
          nav.navbar.nonActive #burger span::before, nav.navbar.nonActive #burger span::after{
            background: white;
          }
        }
        .st0.active{
            fill: #fff !important;
        }
        .navbar-default {
          /*
          height: 70px;
          */
        }
      </style>
      <div id="burger" ><span></span></div>
      <div id="menuBurger" class="maj txtBlue">
        <ul>
            <li class="activePosition"><a href="{{ path('list') }}">Toutes les annonces</a></li>
            <li><a href="">Swicar en quelques points</a></li>
            <li><a href="">Dernières offres en ligne</a></li>
            <li><a href="">Témoignages</a></li>
        </ul><span class="vmiddle"></span>
      </div>

      <script>
          $('a[href^="#"]').click(function () {
              var the_id = $(this).attr("href");

              $('html, body').animate({
                  scrollTop: $(the_id).offset().top + 1
              }, 'slow');
              return false;
          });

          function rotateEach(el) {
              el.each(function (id) {
                  $(this).css({
                      'opacity': 1,
                      'transform': 'rotate(0deg)',
                      'transition' : 'all 2s cubic-bezier(0.19, 1, 0.22, 1)'+ (id)*.2+'s'
                  });
              })
          }
          function unrotate(el) {
              el.css({
                  'opacity':0,
                  'transform': 'translate(0, 50px) rotate(5deg)',
                  'transition' : '0s',
                  'transform-origin': 'center center'
              });
          }
          // apparition menuBurger
          unrotate( $('#menuBurger').find('li') );
          $('#menuBurger').css({'display': 'none', 'opacity': 0})
          $('#burger').bind('click', function (event) {
              event.stopPropagation();
              $(this).toggleClass('menuOpen');
              if($(this).hasClass('menuOpen')){
                  $('#menuBurger').css('display', 'block')
                  $('#menuBurger').animate({opacity: 1 }, 200)
                  rotateEach( $('#menuBurger').find('li') );
              } else {
                  $('#menuBurger').animate({opacity: 0 }, 200, function(){
                      $('#menuBurger').css('display', 'none')
                      unrotate( $('#menuBurger').find('li') );
                  })
              }
          });
          // INVIEW
          var selectInview = $('.pays, .acti, .actu, #aeroport, #welcom, #actu .txtArea > div, #choixFiltre, #partage, #partenaire');
          unrotate(selectInview.find('.toRotate'));
          selectInview.bind('inview', function (event, visible) {
              if (visible) {
                  rotateEach( $(this).find('.toRotate') );
              } else {
                  unrotate( $(this).find('.toRotate') );
              }
          });

      </script>


      <style>
        #bs-example-navbar-collapse-1{
          border-color: transparent;
        }
        #nav-icon {  width: 50px;  height: 33px;  position: relative;  -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);  -o-transform: rotate(0deg);  transform: rotate(0deg);  -webkit-transition: .5s ease-in-out;
          -moz-transition: .5s ease-in-out;  -o-transition: .5s ease-in-out;  transition: .5s ease-in-out;  cursor: pointer;  }

        #nav-icon span {  display: block;  position: absolute;  height: 5px;  width: 100%;  background: #0087b8;  border-radius: 9px;
          opacity: 1;  left: 0;  -webkit-transform: rotate(0deg);  -moz-transform: rotate(0deg);  -o-transform: rotate(0deg);
          transform: rotate(0deg);  -webkit-transition: .25s ease-in-out;  -moz-transition: .25s ease-in-out;
          -o-transition: .25s ease-in-out;  transition: .25s ease-in-out;  }

        #nav-icon span:nth-child(1) {
          top: 0;
        }

        #nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
          top: 14px;
        }

        #nav-icon span:nth-child(4) {
          top: 28px;
        }

        #nav-icon.open span:nth-child(1) {
          top: 14px;  width: 0;  left: 50%;
        }

        #nav-icon.open span:nth-child(2) {
          -webkit-transform: rotate(45deg);  -moz-transform: rotate(45deg);  -o-transform: rotate(45deg);  transform: rotate(45deg);
        }

        #nav-icon.open span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        #nav-icon.open span:nth-child(4) {
          top: 18px;  width: 0;  left: 50%;
        }

      </style>

      <script>
          $(document).ready(function(){
              $('#nav-icon').click(function(){
                  $(this).toggleClass('open');
                  $("#bs-example-navbar-collapse-1").toggleClass('show');
              });
          });
      </script>

      <a class="navbar-brand" href="{{ path("index") }}">
        <img width='100' style="margin-top:-15px" class="img-responsive" id="logo">
        <svg version="1.1" id="logo" class="img-responsive" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 800 800" style="enable-background:new 0 0 800 800;" xml:space="preserve">
<style type="text/css">
  .st0{fill:#47466B;}
</style>
          <g>
            <path id="S" class="st0" d="M250.4,406.4c0,4.4-1.1,8.4-3.4,11.8c-2.2,3.4-5.5,6.1-9.7,8c-4.2,1.9-9.2,2.9-14.9,2.9
		c-4.8,0-8.7-0.3-12-1s-6.6-1.8-10.1-3.5v-17.2c3.7,1.9,7.5,3.4,11.5,4.4c4,1.1,7.6,1.6,10.9,1.6c2.9,0,5-0.5,6.3-1.5
		c1.3-1,2-2.3,2-3.8c0-1-0.3-1.8-0.8-2.6s-1.4-1.5-2.6-2.2c-1.2-0.7-4.4-2.3-9.5-4.6c-4.7-2.1-8.1-4.2-10.5-6.2
		c-2.3-2-4.1-4.3-5.2-6.8c-1.1-2.6-1.7-5.6-1.7-9.1c0-6.6,2.4-11.7,7.2-15.4c4.8-3.7,11.4-5.5,19.7-5.5c7.4,0,14.9,1.7,22.6,5.1
		l-5.9,14.9c-6.7-3.1-12.4-4.6-17.3-4.6c-2.5,0-4.3,0.4-5.5,1.3c-1.1,0.9-1.7,2-1.7,3.3c0,1.4,0.7,2.7,2.2,3.8
		c1.4,1.1,5.4,3.1,11.8,6.1c6.2,2.8,10.4,5.7,12.8,8.9S250.4,401.6,250.4,406.4z"/>
            <path id="W" class="st0" d="M338.5,428.1h-22.8l-6.8-31.1c-0.3-1.3-0.8-3.9-1.5-7.8c-0.7-3.9-1.2-7.1-1.5-9.7
		c-0.3,2.1-0.7,4.7-1.3,7.9c-0.6,3.1-1.2,6-1.7,8.7c-0.6,2.6-2.9,13.3-7.1,32h-22.8l-17.7-71.4h18.6l7.8,35.8
		c1.8,7.9,3,14.2,3.6,18.9c0.4-3.3,1.2-7.8,2.3-13.5c1.1-5.7,2.1-10.4,3.1-14.2l6.3-27h17.9l6.1,27c1,4.3,2.1,9.3,3.2,15
		s1.8,9.9,2.1,12.7c0.4-3.6,1.6-9.9,3.5-18.8l7.9-35.9h18.6L338.5,428.1z"/>
            <path id="I" class="st0" d="M365.3,428.1v-71.4h19.4v71.4H365.3z"/>
            <path id="C" class="st0" d="M431.9,371.5c-4.6,0-8.2,1.9-10.7,5.6c-2.6,3.8-3.9,8.9-3.9,15.6c0,13.7,5.2,20.6,15.7,20.6
		c3.2,0,6.2-0.4,9.2-1.3c3-0.9,5.9-1.9,8.9-3.2v16.3c-6,2.6-12.7,4-20.2,4c-10.8,0-19-3.1-24.8-9.4c-5.7-6.2-8.6-15.3-8.6-27.1
		c0-7.4,1.4-13.9,4.2-19.5c2.8-5.6,6.8-9.9,12-12.9c5.2-3,11.4-4.5,18.4-4.5c7.7,0,15.1,1.7,22.1,5l-5.9,15.2
		c-2.6-1.2-5.3-2.3-7.9-3.1C437.8,371.9,434.9,371.5,431.9,371.5z"/>
            <path id="A" class="st0" d="M501.4,341.4h-15.9l-33,101.6H200.6l269.1,15l4.8-15l7.6-28.3h23.2l3.5,13.4h21.1L501.4,341.4z
		 M486.1,398.9c3-11.2,4.9-18.7,5.7-22.5c0.9-3.8,1.4-6.6,1.7-8.2c0.3,1.8,1,4.8,2,8.9c1,4.1,1.9,7.5,2.6,10.1l3.1,11.7H486.1z"/>
            <path id="R" class="st0" d="M556.9,402.1v26h-19.3v-71.4H561c19.4,0,29.1,7,29.1,21.1c0,8.3-4,14.7-12.1,19.2l20.8,31.1h-21.9
		l-15.1-26H556.9z M556.9,387.6h3.6c6.7,0,10.1-3,10.1-8.9c0-4.9-3.3-7.4-9.9-7.4h-3.8V387.6z"/>
          </g>
</svg>

      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        {% include 'default/menu.html.twig' %}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>