<header>

    <ul class="nav navbar-nav">
        <li><a href="{{ path('list') }}">Toutes les annonces</a></li>
        <li><a href="">Swicar en quelques points</a></li>
        <li><a href="">Dernières offres en ligne</a></li>
        <li><a href="">Témoignages</a></li>
    </ul>

    {% if app.user and is_granted('ROLE_USER') %}

        <ul class="nav navbar-nav navbar-right connected">
            {# <li>Bienvenue {{ app.user.username|capitalize }}</li> #}
            <!-- Single button -->
            <li>
                <div class="btn-group">
                    <a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {# si y'a pas d'images rattaché au compte #}
                        <i class="material-icons">&#xE853;</i>
                        {# sinon #}
                        {#               <img src="" alt="logo utilisateur logué">
                         #}              {{ app.user.username|capitalize }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href=""><i class="material-icons">&#xE851;</i> Mon Compte</a></li>
                        <li><a href=""><i class="material-icons">&#xE85A;</i> Mes Annonces</a></li>
                        <li><a href=""><i class="material-icons">&#xE87D;</i> Mes Coups de coeur</a></li>
                        <li><a href=""><i class="material-icons">&#xE8CD;</i> Mes Avis</a></li>
                        <li><a href=""><i class="material-icons">&#xE8AC;</i> Déconnexion</a></li>
                    </ul>
                </div>
            </li>
            {# <li>
              <div class="btn-group">
                <a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">&#xE7F4;</i>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">test</a></li>
                  <li><a href="#">yep</a></li>
                  <li><a href="#">je suis une super notification !</a></li>
                </ul>
              </div>
            </li> #}

            {# <li><a href="#" data-toggle="modal" data-target="#Connexion">Mon compte</a></li> #}
        </ul>
    {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="">Inscription</a></li>
            <li><a href="#loginModal" class="btn-website" data-toggle="modal">Connexion</a></li>
            {# <li><a class="btn-website" href="#">Devenir Presta</a></li> #}
        </ul>

        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Connexion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">

                            <input type="hidden" name="_csrf_token" value="setValue">

                            <div class="form-group label-floating">
                                <label class="control-label" for="inputUsernameEmail">Pseudo ou email</label>
                                <input type="text" class="form-control" id="username" name="_username" required="required">
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label" for="inputPassword">Mot de passe</label>
                                <input type="password" class="form-control" id="password" name="_password" required="required">
                                <a class="pull-right js-mdp" href="#" data-toggle="modal" data-target="#mdpOublié">Mot de passe oublié ?</a>
                            </div>
                            <div class="form-group label-floating">
                                <div class="checkbox">
                                    <label for="remember_me">
                                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"><span class="checkbox-material"><span class="check"></span></span> Se souvenir de moi
                                    </label>
                                </div>

                            </div>

                            <button type="submit" id="_submit" name="_submit" class="btn btn btn-website">
                                Je me connecte !
                            </button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="" title="Inscription" class="btn btn-link btn-left">
                        Pas encore inscrit ?
                    </a>
                </div>
            </div>
        </div>

        <style>
            .modal-backdrop {
                z-index: 0;
            }
        </style>

    {% endif %}

</header>