{% extends 'base.html.twig' %}

{% block body %}

<div class="grid" style="margin-top: 3%;">

    <div id="homeTopImage" style="background: black; width: 100%; height: 300px">

    </div>

    <div id="search" class="col-md-6" style="background: white; width: 50%; height: 100px; margin-left: 25%; border: 1px solid grey; border-radius: 5px">

        <input id="homeSearchInput" type="text" class="center-block" style="width: 80%; margin-top: 2%; border: none; border-bottom: 1px solid grey;" placeholder="Modele, marque ville ...">

        <div class="center-block" style="width: 80%; margin-top: 2%; background: red">

            <div class="col-md-2 searchMarque" style="background: red">
                toto
            </div>
            <div class="col-md-2 searchMarque" style="background: red">
                toto
            </div>
            <div class="col-md-2 searchMarque" style="background: red">
                toto
            </div>
            <div class="col-md-2 searchMarque" style="background: red">
                toto
            </div>
            <div class="col-md-2 searchMarque" style="background: red">
                toto
            </div>
            <div class="col-md-2 searchMarque" style="background: red">
                toto
            </div>

        </div>

        <style>

            #homeSearchInput:focus {
                outline: none;
            }

            .searchMarque{
                margin-right: 0.6%;
                width: 16%;
            }

        </style>

    </div>

    <div class="col-md-12" style="background: #F5F5F5; margin-top: 4%">

        <div id="blockInformations" class="col-lg-10" style="margin-left: 10%; ">

            <h2 class="center-block" style="width:36%;">Swicar en quelques points</h2>

            <div class="informationBlock col-lg-3" style="background: red">
                t
            </div>
            <div class="informationBlock col-lg-3" style="background: red">
                t
            </div>
            <div class="informationBlock col-lg-3" style="background: red">
                t
            </div>
            <div class="informationBlock col-lg-3" style="background: red">
                t
            </div>

            <style>

                .informationBlock{
                    margin-right: 5%;
                    width: 20%;
                }

            </style>

        </div>
    </div>
    <br>

    <div class="col-md-12" style="background: #E6E6E6;">

        <div id="blockLastAdvert" style="margin-left: 10%;">

            <h2 class="center-block" style="width:36%;">Denieres offres en ligne</h2>

            <div class="advertBlock col-lg-3" style="background: red; border-radius: 6%">
                <img style="width: 100%" src="http://www.camerounsports.info/wp-content/uploads/sites/5/2017/10/mclaren-650s-spyder-2014-750x410.jpeg" alt="">
                <div style="background: red">
                    t
                </div>
            </div>
            <div class="advertBlock col-lg-3" style="background: red;  border-radius: 6%">
                <img style="width: 100%" src="http://www.camerounsports.info/wp-content/uploads/sites/5/2017/10/mclaren-650s-spyder-2014-750x410.jpeg" alt="">
                <div style="background: red">
                    t
                </div>
            </div>
            <div class="advertBlock col-lg-3" style="background: red;  border-radius: 6%">
                <img style="width: 100%" src="http://www.camerounsports.info/wp-content/uploads/sites/5/2017/10/mclaren-650s-spyder-2014-750x410.jpeg" alt="">
                <div style="background: red">
                    t
                </div>
            </div>

            <style>

                .advertBlock{
                    margin-right: 7%;
                    padding-left: 0;
                    padding-right: 0%;
                }

            </style>

        </div>
    </div>


    <div class="col-md-12" style="background: white">

        <div id="commentBlock" class="col-lg-10" style="margin-left: 10%; ">

            <h2 class="center-block" style="width:36%; text-align: center;">Ils nous ont fais confiance </h2>

            <div class="comment">
                <img src="{{ asset("image.jpg") }}" alt="" class="col-md-2" style="border-radius: 50%">
            </div>

        </div>

    </div>

        <div class="col-md-12" style="background: linear-gradient(to right, #447398, #204D7E); color: white">

            <div id="blockFooter" class="col-lg-10" style="margin-left: 10%; ">

                <h2 class="center-block" style="width:36%; text-align: center; color: white">Des questions ?</h2>

                <div class="col-md-12">

                    <div class="livraison-footer block-img col-md-3">
                        <span class="txt">TELEPHONE <br>01 59 60 44 66</span>
                    </div>

                    <div class="livraison-footer block-img col-md-3">
                        <span class="txt">EMAIL <br>contact@swicar.com</span>
                    </div>

                    <div class="livraison-footer block-img col-md-3">
                        <span class="txt">CHAT <br>cliquez ici</span>
                    </div>

                </div>

                <p class="coyprigthFooter col-md-12" style="text-align: center; border-top: 1px solid white;">&copy; 2017 SWICAR</p>

                <p class="col-md-1 text-footer" style="min-width: 11%">Mentions légales</p>
                <p class="col-md-1 text-footer" style="max-width: 7%">À propos</p>
                <p class="col-md-1 text-footer" style="max-width: 6%">Contact</p>
                <p class="col-md-1 text-footer" style="min-width: 12%">Conditions générales</p>

            </div>

        </div>

        <style>

            .block-img{
                display: inline-block;
                /*
                width: 20%;
                 */
            }

            .livraison-footer {
                background: url(https://vintage-motors.net/themes/default-bootstrap/img/livraison.png)no-repeat center 15px;
                background-position: center top;
                background-size: 80px;
                padding-top: 90px;
                text-align: center;
                margin-left: 6%;
                /*
                margin-left: 9%;
                 */
            }

            .text-footer {
                padding: 0;
            }

        </style>

    </div>

</div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                 <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Connexion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">

                        <input type="hidden" name="_csrf_token" value="setValue">

                        <div class="form-group label-floating">
                            <label class="control-label" for="inputUsernameEmail">Pseudo ou email</label>
                            <input type="text" class="form-control" id="username" name="_username" required="required">
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label" for="inputPassword">Mot de passe</label>
                            <input type="password" class="form-control" id="password" name="_password" required="required">
                            <a class="pull-right js-mdp" href="#" data-toggle="modal" data-target="#mdpOublié">Mot de passe oublié ?</a>
                        </div>
                        <div class="form-group label-floating">
                            <div class="checkbox">
                                <label for="remember_me">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"><span class="checkbox-material"><span class="check"></span></span> Se souvenir de moi
                                </label>
                            </div>

                        </div>

                        <button type="submit" id="_submit" name="_submit" class="btn btn btn-website">
                            Je me connecte !
                        </button>
                    </form>
                </div>
                </div>
                <div class="modal-footer">
                    <a href="" title="Inscription" class="btn btn-link btn-left">
                        Pas encore inscrit ?
                    </a>
                </div>
            </div>
        </div>

{% endblock %}
