{% extends 'base.html.twig' %}

{% block body %}

    <script src="https://js.stripe.com/v3/"></script>


    <div class="grid col-md-12" style="margin-top: 5%; /*background: #F5F5F5;*/ padding: 0;">

        <div class="col-lg-3">

            <form action="/charge" method="post" id="payment-form">
                <div class="form-row">
                    <label for="card-element">
                        Credit or debit card
                    </label>
                    <div id="card-element">
                        <!-- a Stripe Element will be inserted here. -->
                    </div>

                    <!-- Used to display form errors -->
                    <div id="card-errors" role="alert"></div>
                </div>

                <button>Effectué le payement</button>
            </form>

        </div>

        <div class="col-lg-12">

            Voulez vous effectuez le payement de {{ advert.price |number_format(0,'.',' ') }} € ?

            <br>
            <button>
                <a href="{{ path('payment', {'id': advert.id, 'params': 'oui' }) }}">oui</a>
            </button>

            <button>
                <a href="{{ path('payment', {'id': advert.id, 'params': 'non' }) }}">non</a>
            </button>

        </div>

    </div>

    <script>

        var stripe = Stripe('pk_test_BMsXZLeHt3hYYkZg5Xvt2Giw');
        var elements = stripe.elements();


        // Custom styling can be passed to options when creating an Element.
        var style = {
            base: {
                // Add your base input styles here. For example:
                fontSize: '16px',
                color: "#32325d",
            }
        };

        // Create an instance of the card Element
        var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>
        card.mount('#card-element');

        card.addEventListener('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });


        // Create a token or display an error when the form is submitted.
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();

            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    // Inform the customer that there was an error
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server
                    stripeTokenHandler(result.token);
                }
            });
        });

        function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);

            //Add advert id

            var hiddenInput2 = document.createElement('input');
            hiddenInput2.setAttribute('type', 'hidden');
            hiddenInput2.setAttribute('name', 'advertId');
            hiddenInput2.setAttribute('value', {{ advert.id }});
            form.appendChild(hiddenInput2);

            var hiddenInput3 = document.createElement('input');
            hiddenInput3.setAttribute('type', 'hidden');
            hiddenInput3.setAttribute('name', 'type');
            hiddenInput3.setAttribute('value', "expertise");
            form.appendChild(hiddenInput3);

            // Submit the form
            form.submit();
        }



    </script>


{% endblock %}