@media (max-width: 768px) {
  /* line 2, ../sass/responsive/_mobile.scss */
  h1, h2, h3, h4, h5, h6 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  /* line 6, ../sass/responsive/_mobile.scss */
  .filters {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 10, ../sass/responsive/_mobile.scss */
  .js-select {
    margin-left: 15px;
    margin-right: 15px;
  }

  /* line 14, ../sass/responsive/_mobile.scss */
  .grid .date, .grid .list-group.bg-orange-hover .list-group-item:hover .list-group-item-text, .list-group.bg-orange-hover .list-group-item:hover .grid .list-group-item-text, .grid .list-group.bg-red-hover .list-group-item:hover .list-group-item-text, .list-group.bg-red-hover .list-group-item:hover .grid .list-group-item-text {
    font-size: 14px;
    top: 50px;
  }

  /* line 18, ../sass/responsive/_mobile.scss */
  .collapse {
    height: 0vh;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    display: block !important;
    overflow: hidden;
  }

  /* line 28, ../sass/responsive/_mobile.scss */
  .grid .grid-img, .grid .grid-caption {
    width: 100%;
    float: none;
  }

  /* line 32, ../sass/responsive/_mobile.scss */
  .centered-content {
    position: inherit;
    top: auto;
    left: auto;
    -webkit-transform: translateY(0%) translateX(0%);
    -moz-transform: translateY(0%) translateX(0%);
    -ms-transform: translateY(0%) translateX(0%);
    -o-transform: translateY(0%) translateX(0%);
    transform: translateY(0%) translateX(0%);
  }

  /* line 42, ../sass/responsive/_mobile.scss */
  .minheight-100 {
    min-height: 100%;
  }

  /* line 46, ../sass/responsive/_mobile.scss */
  .inscription-tpl .jumbotron {
    margin-bottom: 0 !important;
  }
  /* line 49, ../sass/responsive/_mobile.scss */
  .inscription-tpl .inscription-content {
    padding-top: 20px;
  }
  /* line 52, ../sass/responsive/_mobile.scss */
  .inscription-tpl form {
    width: 100% !important;
  }
  /* line 54, ../sass/responsive/_mobile.scss */
  .inscription-tpl form .row {
    margin-right: 0;
    margin-left: 0;
  }

  /* line 62, ../sass/responsive/_mobile.scss */
  .recherche-content .container.container-recherche {
    width: auto;
  }

  /* line 66, ../sass/responsive/_mobile.scss */
  .navbar.is-colored .hamburger .icon-bar, .navbar.is-colored.navbar-default .hamburger .icon-bar {
    color: black;
  }

  /* line 71, ../sass/responsive/_mobile.scss */
  .collapse.in {
    height: 100vh;
  }

  /* line 74, ../sass/responsive/_mobile.scss */
  .social-menu {
    padding: 0px 20px;
  }

  /* line 77, ../sass/responsive/_mobile.scss */
  .dl-horizontal {
    margin-bottom: 5px;
  }
  /* line 80, ../sass/responsive/_mobile.scss */
  .dl-horizontal dt {
    color: #67cac7;
    text-align: left;
    width: 70px;
    line-height: 1.8;
    float: left;
  }
  /* line 88, ../sass/responsive/_mobile.scss */
  .dl-horizontal.dispo {
    width: 100%;
  }

  /* line 93, ../sass/responsive/_mobile.scss */
  .landing-header h1 {
    font-size: 1.5em;
  }
  /* line 96, ../sass/responsive/_mobile.scss */
  .landing-header a {
    width: 100%;
    font-size: 12px;
  }
  /* line 99, ../sass/responsive/_mobile.scss */
  .landing-header a.btn {
    margin: 5px 1px;
  }

  /* line 104, ../sass/responsive/_mobile.scss */
  .grid .grid-item {
    width: 100%;
  }

  /* line 107, ../sass/responsive/_mobile.scss */
  .search-engine-wrap {
    padding: 0px 15px;
  }

  /* line 110, ../sass/responsive/_mobile.scss */
  .grid.container.container-prestations {
    width: auto !important;
    padding: 0;
  }

  /* line 114, ../sass/responsive/_mobile.scss */
  .flatpickr-calendar {
    width: 70%;
    margin: 0 auto;
  }

  /* line 118, ../sass/responsive/_mobile.scss */
  .flatpickr-rContainer, .flatpickr-days {
    width: 100%;
  }

  /* line 121, ../sass/responsive/_mobile.scss */
  .dayContainer {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  /* line 126, ../sass/responsive/_mobile.scss */
  .row-timeline {
    margin-left: 0px;
    margin-right: 0px;
    border-left: 4px solid #67cac7;
  }
  /* line 131, ../sass/responsive/_mobile.scss */
  .row-timeline .well .media-left {
    display: inherit;
    text-align: center;
    padding: 0;
  }
  /* line 137, ../sass/responsive/_mobile.scss */
  .row-timeline .col-md-6:nth-child(1) {
    border-right: 0px solid black;
    border-left: 0px solid #67cac7;
  }
  /* line 142, ../sass/responsive/_mobile.scss */
  .row-timeline .col-md-6:nth-child(1) .well.even:before, .row-timeline .col-md-6:nth-child(1) .well.odd:before {
    left: -14px;
    right: auto;
    border-width: 10px 17.3px 10px 0;
    border-color: transparent #ffffff transparent transparent;
  }

  /* line 156, ../sass/responsive/_mobile.scss */
  .comments .media-object {
    margin: 0 auto;
  }
  /* line 159, ../sass/responsive/_mobile.scss */
  .comments .media-heading {
    text-align: center;
  }
  /* line 161, ../sass/responsive/_mobile.scss */
  .comments .media-heading .date {
    float: none !important;
    display: block;
    margin-top: 5px;
    margin-left: 20px;
  }
  /* line 168, ../sass/responsive/_mobile.scss */
  .comments .name {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
  }
  /* line 173, ../sass/responsive/_mobile.scss */
  .comments .br-wrapper {
    text-align: center;
  }
  /* line 176, ../sass/responsive/_mobile.scss */
  .comments blockquote {
    padding: 10px 40px;
  }

  /* line 180, ../sass/responsive/_mobile.scss */
  body .container .well blockquote:before, body .container-fluid .well blockquote:before {
    left: 15px;
  }
}
@media (min-width: 768px) {
  /* line 187, ../sass/responsive/_mobile.scss */
  .grid.container.container-prestations {
    width: 750px !important;
  }

  /* line 191, ../sass/responsive/_mobile.scss */
  .modal-dialog {
    width: 460px;
  }
}
@media (min-width: 320px) and (max-width: 400px) {
  /* line 196, ../sass/responsive/_mobile.scss */
  .tabs-for-search.nav-tabs.nav-justified > li > a {
    font-size: 10px;
  }
  /* line 198, ../sass/responsive/_mobile.scss */
  .tabs-for-search.nav-tabs.nav-justified > li > a i {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  /* line 2, ../sass/responsive/_tablette.scss */
  .img-responsive {
    min-width: 100%;
  }

  /* line 5, ../sass/responsive/_tablette.scss */
  .media:first-child {
    margin-top: 15px;
  }

  /* line 9, ../sass/responsive/_tablette.scss */
  .footer-parralax {
    position: inherit;
  }

  /* line 12, ../sass/responsive/_tablette.scss */
  .parralax-body {
    margin-bottom: inherit;
  }

  /* line 15, ../sass/responsive/_tablette.scss */
  .grid-item {
    width: 100%;
  }

  /* line 20, ../sass/responsive/_tablette.scss */
  .tabs-for-search.nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  /* line 23, ../sass/responsive/_tablette.scss */
  .tabs-for-search.nav-tabs.nav-justified > li > a {
    margin-bottom: 0px;
    padding: 10px 3px;
    font-size: 12px;
  }

  /* line 29, ../sass/responsive/_tablette.scss */
  .landing-header {
    padding: 100px 40px;
  }

  /* line 32, ../sass/responsive/_tablette.scss */
  .grid .small-desc {
    height: inherit;
    overflow: visible;
  }

  /* line 36, ../sass/responsive/_tablette.scss */
  .grid .small-desc.in {
    height: inherit;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  /* line 43, ../sass/responsive/_tablette.scss */
  .landing-header h1 {
    font-size: 3em;
  }
}
@media (min-width: 992px) {
  /* line 50, ../sass/responsive/_tablette.scss */
  .grid.container.container-prestations {
    width: 970px !important;
  }
}
@media (min-width: 992px) {
  /* line 2, ../sass/responsive/_desktop.scss */
  .grid .grid-item {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  /* line 7, ../sass/responsive/_desktop.scss */
  .grid.container.container-prestations {
    width: 1170px !important;
  }
}
